<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47887526958-42r81tn2g9pqnbj46fe8oh5o65vq5u73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47887526958-42r81tn2g9pqnbj46fe8oh5o65vq5u73</string>
	<key>API_KEY</key>
	<string>AIzaSyAyrT8fLVNPWpDEqLMO9oXYco2JgBHXi1g</string>
	<key>GCM_SENDER_ID</key>
	<string>47887526958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kamwoo.MessengerApp</string>
	<key>PROJECT_ID</key>
	<string>messenger-887ae</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-887ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47887526958:ios:7da1c6c2fd506f1b1a83bf</string>
</dict>
</plist>